body {
	font-family:arial, verdana, sans-serif;
	font-size: 11pt;
	background-color: #999;
	margin: 0;
}

section {
	display: none;
	background-color: #fff;
	margin: 0;
	padding: 4pt;
	width: 100%;
}

[active] {
  display: block;
}

#names {		
	padding: 0;
	margin: 0;	
}

#names li {
	list-style-type: none;
	display: inline-table;
	border: 1pt solid #aaa;
	width: 18%;
	text-decoration: none; 
	background: #eee;
  margin-top: 1pt;
  margin-bottom: 2pt;
  padding-left: 3pt;
  padding-right: 2pt;
  padding-bottom: 1pt;
  border-radius: 3pt;
}

.right {
	text-align: right;
	float: right; 
	margin-right: 6pt;
}

.slot {
	background-color: #fff;
	width: 100%;
	padding: 4pt;
	margin: 0;
}
